<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/css/article.css">
    <title>{{post.title}}</title>
</head>

<body class="article">
    <div class="archive">
        <div class="headerleft">
            <p>
                {% load static %}
                <a href="http://127.0.0.1:8000/registration" style="float: right; color: white; order:1;">Регистрация</a>
                <img src="{% static 'img/log.png' %}" alt="Картинка" />
                <a href="http://127.0.0.1:8000" style="float: right; color: white;">Все статьи</a>

    </p>
</div>
<div class="one-post">
    <h2 class="post-title">{{post.title}}</h2>
    <div class="article-info">
        <div class="article-author">{{post.author.username}}</div>
        <div class="article-created-date">{{post.created_date}}</div>
    </div>
    <p class="article-text">{{post.get_excerpt}}</p>
    </div>
    </div>
</body>

</html>